<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.kevin.studyhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.project.kevin.studyhelper.LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.project.kevin.studyhelper.SelectionPage"></activity>
        <activity
            android:name="com.project.kevin.studyhelper.StudySolo"
            android:noHistory="true">
        </activity>
        <activity android:name="com.project.kevin.studyhelper.GroupStudy"
            android:noHistory="true"></activity>
        <activity
            android:name="com.project.kevin.studyhelper.Lobby"
            android:noHistory="true">
        </activity>
        <activity android:name = "com.project.kevin.studyhelper.NewLoginPage"
            ></activity>
        <activity android:name = "com.project.kevin.studyhelper.Quiz"
            android:noHistory="true"></activity>

    </application>

</manifest>